* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.grid_1-1-1 a {
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 50px;
    background-color: #3d6375;
    border-radius: 10px;
}

.grid_1-1-1 a:hover {
    font-weight: bolder;
}

.grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    text-align: center;
    line-height: 40px;
}

.grid_1-1-1-1 img {
    width: 100%;
}

.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    gap: 20px;
    line-height: 55px;
}

.grid_1-1 img {
    width: 100%;
    border: 1px solid black;
}

.sold_out::before {
    content: "Sold out";
    position: absolute;
    background: black;
    color: white;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.grid_1-1-1-1 article.sold_out img {
    opacity: 0.5;
}

/* .grid_1-1-1-1 article.onSale .discounted {
    display: flex;
    justify-content: space-between;
} */

.grid_1-1-1-1 article .discounted {
    display: none;
}

.discounted .discount_rabat {
    color: #3D6375;
    font-weight: bolder;
}

.kategori_img {
    width: 100%;
}