* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.grid_1-1-1 a {
    list-style: none;
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 50px;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
}

.grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    text-align: center;
    line-height: 40px;
}

.grid_1-1-1-1 img {
    width: 100%;
}

.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    gap: 20px;
    line-height: 55px;
}

.grid_1-1 img {
    width: 100%;
}

.sold_out::before {
    content: "Sold out";
    position: absolute;
    background: black;
    color: white;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.grid_1-1-1-1 article.sold_out img {
    opacity: 0.5;
}

.grid_1-1-1-1 article.onSale .discounted {
    display: flex;
    justify-content: space-between;
}

.grid_1-1-1-1 article .discounted {
    display: none;
}

.discounted .discount_rabat {
    background-color: red;
    padding: 0.2rem;
}